<section>
  <%= if @waiting do %>
    <h1>Waiting for email confirmation</h1>
    <p>Please click the link in your email to continue</p>
  <% else %>
    <h1>Login</h1>

    <form phx-submit="login">
      <input name="email" type="email" />
      <%= if @error do %>
        <%= @error %>
      <% end %>

      <button type="submit">Login</button>
    </form>
  <% end %>
</section>
