<section>
  <h1>elementary Flatpak Auth server</h1>
  <a href="https://github.com/elementary/flatpak-auth">GitHub</a>

  <a href="/auth/v1/login">Login</a>
  <a href="/auth/v1/register">Register</a>
</section>
